// @import '~@/less/variable.less';

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 306px;
  height: 240px;
  gap: 24px;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--rag-black);
  }
  .titledark {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--ant-color-info-text);
  }
  .description {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--rag-black-45);
    display: -webkit-box;
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
  .descriptiondark {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--ant-color-info-text);
    display: -webkit-box;
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
  .footer {
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    .footerTop {
      display: flex;
      justify-content: space-between;
      .bottomLeft {
        display: flex;
        align-items: center;
        gap: 8px;
        .leftIcon {
          width: 16px;
          height: 16px;
        }
        .rightText {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.88);
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .bottomLeft {
        display: flex;
        align-items: center;
        gap: 8px;
        .leftIcon {
          width: 16px;
          height: 16px;
        }
        .rightText {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.45);
        }
      }
    }
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card {
  width: 306px;
  border-radius: 12px;
  cursor: pointer;
  :global {
    .ant-card-body {
      padding: 0;
    }
  }
}

.ribbon {
  :global {
    .ant-ribbon {
      top: 6px;
      height: 20px;
      right: -6px;
      display: flex;
      align-items: center;
    }
  }
}
.hideRibbon {
  :global {
    .ant-ribbon {
      display: none;
    }
  }
}
